@use "../utils/functions/"as *;
@use "../utils/mixins/"as *;

.card {
  &__slider {
    padding: clamp(1.5rem, calc(1rem + vw(34)), 3.125rem) 0 20px;
    overflow: hidden;
  }

  &__item {
    min-height: 300px;
    height: auto;
    perspective: 800px;

    p {
      font-size: 18px;
    }
  }
}

.card-item {
  &__box {
    position: relative;
    height: 100%;
    perspective: 800px;
    transform-style: preserve-3d;
    transition: rotate 1s;
  }

  &:nth-child(odd) {
    div {
      background-color: var(--color-white);
      color: var(--color-black);
    }
  }

  &:nth-child(even) {
    div {
      color: var(--color-white);
      background-color: var(--color-orange-400);
    }
  }

  &__front,
  &__back {
    padding: 30px 15px 40px;
    backface-visibility: hidden;
  }

  &__front {
    padding-top: 4rem;
    width: 100%;
    position: absolute;
    inset: 0;
    display: grid;
    place-content: center;

    &::before {
      @include mask;
      mask-image: url("../images/icons/big-arrow.svg");
      width: 104px;
      top: 15px;
      right: 15px;
      height: 8px;
    }
  }

  &__back {
    backface-visibility: hidden;

    .card-item__title {
      margin-bottom: 20px;
      text-align: center;
    }
  }

  &__img {
    display: grid;
    justify-self: center;
    max-width: 150px;
    max-height: 100px;
    margin-bottom: 50px;
  }

  &:hover {
    .card-item__box {
      rotate: y 180deg;
    }

    .card-item__front {
      opacity: 0;
      transition: opacity 0.6s;
    }

    .card-item__back {
      rotate: y 180deg;
    }
  }
}