@use "../utils/functions/"as *;
@use "../utils/mixins/"as *;

.header {
  position: absolute;
  padding: rem(30) 0;
  width: 100%;
  background-color: var(--color-black);
}

.nav {
  @include flex-all-sb;

  &__list {
    @include flex-all-sb;
    
    padding: 0 1rem;
  }

  &__item {

    &:not(:last-child) {
      position: relative;
      padding: 0 clamp(10px, vw(20), rem(22));

      &::before {
        content: "/";
        position: absolute;
        right: 0;
        width: 2px;
        height: 17px;
        color: var(--color-orange-500);
      }
    }

    &:nth-child(4n + 1) {
      padding-right: clamp(rem(20), calc(1rem + vw(31)), rem(47));
    }

    &:last-child {
      padding-left: 21px;
    }

    &:first-child {
      padding-left: 0;
    }

  }

  &__link {
    position: relative;
    font-size: rem(14);
    line-height: 1.2;
    white-space: nowrap;
    text-transform: uppercase;
    transition: color 0.3s linear;

    &--dropdown {
      &::before {
        @include mask;

        right: -25px;
        mask-image: url("../images/icons/arrow.svg");
      }
    }

    &:hover {
      color: var(--color-orange-500);
    }
  }
}

.header__action {
  @include flex;
  gap: 10px;
}