<section class="card section">
  <h2 class="sr-only">Послуги претяжки</h2>

  <div class="container">
    <div class="card__slider">
      <ul class="card__list swiper-wrapper">
        <li class="card__item card-item swiper-slide">
          <div class="card-item__box">
            <div class="card-item__front">
              <img
                class="card-item__img"
                src="./images/card/car-maket.png?as=webp"
                width="150"
                height="100"
                alt="3D зображення макета машини"
                loading="lazy"
              />
              <h3 class="card-item__title title-sec">перетяжка стелі</h3>
            </div>

            <div class="card-item__back">
              <h3 class="card-item__title title-sec">перетяжка стелі</h3>
              <p>Довірте складні роботи з перетяжки стелі авто професіоналам.</p>
              <p>Гостра необхідність у перетяжці стелі автомобіля з'являється після...</p>
            </div>
          </div>
        </li>

        <li class="card__item card-item swiper-slide">
          <div class="card-item__box">
            <div class="card-item__front">
              <img
                class="card-item__img"
                src="./images/card/torpedo.png?as=webp"
                width="150"
                height="100"
                alt="зображення торпедо машини"
                loading="lazy"
              />
              <h3 class="card-item__title title-sec">перетяжка торпедо</h3>
            </div>

            <div class="card-item__back">
              <h3 class="card-item__title title-sec">перетяжка торпедо</h3>
              <p>Перетяжка торпедо перевіреними матеріалами.</p>
              <p>Торпедо – головний масив автомобільного салону перед очима водія та пасажира.</p>
            </div>
          </div>
        </li>

        <li class="card__item card-item swiper-slide">
          <div class="card-item__box">
            <div class="card-item__front">
              <img
                class="card-item__img"
                src="./images/card/wheels.png?as=webp"
                width="150"
                height="100"
                alt="зображення шини автомобіля"
                loading="lazy"
              />
              <h3 class="card-item__title title-sec">кліматичний тюнінг</h3>
            </div>

            <div class="card-item__back">
              <h3 class="card-item__title title-sec">кліматичний тюнінг</h3>
              <p>Актуальні опції для нашого клімату: підігрів керма, вентиляція та підігрів сидінь.</p>
              <p>Для наших кліматичних умов...</p>
            </div>
          </div>
        </li>

        <li class="card__item card-item swiper-slide">
          <div class="card-item__box">
            <div class="card-item__front">
              <img
                class="card-item__img"
                src="./images/card/disassembled-car.png?as=webp"
                width="175"
                height="90"
                alt="3D зображення макета машини"
                loading="lazy"
              />
              <h3 class="card-item__title title-sec">шумоізоляція</h3>
            </div>

            <div class="card-item__back">
              <h3 class="card-item__title title-sec">шумоізоляція</h3>
              <p>Чи важлива шумоізоляція?</p>
              <p>Хороша шумоізоляція автомобіля - це одна з головних умов для комфортного використання</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
