@use '../../utils/functions'as *;
@use '../../utils/mixins'as *;

.service {
  @include flex-all-sb;

  &__desc {
    width: 100%;
    max-width: 575px;
  }

  &__img {
    @include flex-all-center;
    width: 100%;
    max-width: 720px;
    margin-right: 1rem;

    &.shadow-img {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        background-image: url('../images/icons/gradient.svg');
        background-position: center;
        background-size: cover;
        width: 105%;
        height: 110%;
        z-index: 1;
        // bottom: 0;
      }
    }
  }
}